name: Check for Changeset

on:
  pull_request:
    branches:
      - main

jobs:
  require-changeset:
    runs-on: ubuntu-latest
    if: github.actor != 'renovate[bot]' && github.actor != 'dependabot[bot]'
    steps:
      - name: Clone @api3/contracts
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '22.18.0'
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Check for changeset
        run: pnpm changeset status --since=origin/main