name: Validate and verify

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  validate-verify:
    runs-on: ubuntu-latest
    steps:
      - name: Clone @api3/contracts
        uses: actions/checkout@v4

      - name: Set up pnpm
        uses: pnpm/action-setup@v3

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: '22.18.0'
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Build
        run: pnpm build
        id: build

      - name: Validate deployments
        run: pnpm validate-deployments
        if: steps.build.outcome == 'success' && !cancelled()

      - name: Verify deployments
        run: pnpm verify-deployments
        if: steps.build.outcome == 'success' && !cancelled()

      - name: Verify contract deployment
        run: pnpm deploy:hardhat
        if: steps.build.outcome == 'success' && !cancelled()

      - name: Validate verification API
        run: pnpm validate-verification-api
        if: steps.build.outcome == 'success' && !cancelled()
